$navheight: 3.5rem;
@import "utilities/_containermain.scss";
@import "utilities/containerbox";
@import "utilities/navlogoutil";
@import "components/navbar";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background: grey;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.undernavbar {
    width: 100%;
    height: 3.5rem;
    background: rgb(2, 153, 180);
}

.footer {
    display: block;
    width: 100%;
    height: 15rem;
    background: black;
    color: white;
}