.containerbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: $navheight;
    font-size: 0.8rem;
    &:hover {
        background: #cccccc;
    }   
}